body {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
div {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}
footer {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}